<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Counter Manager</title>
  </head>
  <body>
    <h2>Current Counter</h2>
    <div id="counterDiv">
      <p id="counter">0</p>
    </div>
      <p style="margin: 10px auto; width: fit-content; cursor: pointer; color: gray;" onclick="addDevice(prompt('Device name:'))">(add device)</p>
    <div id="deviceList">
      <script>addDevices({{device_names | tojson}})</script>
    </div>
    <p></p>
  </body>
</html>
